{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" ></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-admin').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-admin">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td style="width: 5px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                 
                  <!-- <td class="text-left">{% if sort == 'applicant_name' %}<a href="{{ sort_applicant_name }}" class="{{ order|lower }}">{{ column_applicant_name }}</a>{% else %}<a href="{{ sort_applicant_name }}">{{ column_applicant_name }}</a>{% endif %}</td> -->
                  <td class="text-left">{% if sort == 'staff_id' %}<a href="{{ sort_staff_id }}" class="{{ order|lower }}">{{ column_staff_id }}</a>{% else %}<a href="{{ sort_staff_id }}">{{ column_staff_id }}</a>{% endif %}</td>
                  <!-- <td class="text-left">{% if sort == 'user_id' %}<a href="{{ sort_user_id }}" class="{{ order|lower }}">{{ column_user_id }}</a>{% else %}<a href="{{ sort_user_id }}">{{ column_user_id }}</a>{% endif %}</td> -->
                  <td class="text-left">{% if sort == 'eform_id' %}<a href="{{ sort_eform_id }}" class="{{ order|lower }}">{{ column_eform_id }}</a>{% else %}<a href="{{ sort_eform_id }}">{{ column_eform_id }}</a>{% endif %}</td>
                  <!-- <td class="text-left">{% if sort == 'department' %}<a href="{{ sort_department }}" class="{{ order|lower }}">{{ column_department }}</a>{% else %}<a href="{{ sort_department }}">{{ column_department }}</a>{% endif %}</td> -->
                  <!-- <td class="text-left">{% if sort == 'reply_format' %}<a href="{{ sort_reply_format}}" class="{{ order|lower }}">{{ column_position }}</a>{% else %}<a href="{{ sort_position }}">{{ column_position }}</a>{% endif %}</td> -->
                  <td class="text-left">{% if sort == 'status' %}<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>{% else %}<a href="{{ sort_status }}">{{ column_status }}</a>{% endif %}</td>
                  <td class="text-left">{% if sort == 'date_submitted' %}<a href="{{ sort_date_submitted }}" class="{{ order|lower }}">{{ column_date_submitted }}</a>{% else %}<a href="{{ sort_date_submitted }}">{{ column_date_submitted}}</a>{% endif %}</td>
                  <td class="text-left">{% if sort == 'date_approved' %}<a href="{{ sort_date_approved }}" class="{{ order|lower }}">{{ column_approved }}</a>{% else %}<a href="{{ sort_date_approved }}">{{ column_approved }}</a>{% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
              {% if list %}
              {% for list in list %}
              <tr>
                <td class="text-center">{% if list.applicant_id in selected %}
                  <input type="checkbox" name="selected[]" value="{{ list.applicant_id }}" checked="checked" />
                  {% else %}
                  <input type="checkbox" name="selected[]" value="{{ list.applicant_id }}" />
                  {% endif %}</td>
                <!-- <td class="text-left">{{ applicant.name }}</td> -->
                <td class="text-left">{{ list.staff_id }}{{list.user_id}}</td>
                <!-- <td class="text-left">{{ applicant.user_id }}</td> -->
                <td class="text-left">{{ list.eform_id }}</td>
                <!-- <td class="text-left">{{ applicant.department}}</td> -->
                <!-- <td class="text-left">{{ applicant.reply_format }}</td> -->
                <td class="text-left"><b>{% if list.status == 'Approved' %}<span style="color:green">{% elseif list.status == 'Pending' %}<span style="color:darkorange">{% elseif list.status == 'Denied' %}<span style="color:red">{% endif %}{{ list.status }}</span></b></td>
                <td class="text-left">{{ list.date_submitted }}</td>
                <td class="text-left">{{ list.date_approved }}</td>
                <td class="text-right"><a href="{{ list.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="11">{{ text_no_results }}</td>
              </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }} 
